<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.lrmin.xkxt.coursergt.mapper.CourseRgtMapper"> 

<resultMap id="BaseResultMap" type="com.lrmin.xkxt.coursergt.entity.CourseRgt"> 
	<id column="id" property="id" jdbcType="VARCHAR"/> 
	<result column="create_at" property="createAt" jdbcType="TIMESTAMP"/> 
	<result column="last_update_at" property="lastUpdateAt" jdbcType="TIMESTAMP"/> 
	<result column="version" property="version" jdbcType="INTEGER"/> 
	<result column="course_id" property="courseId" jdbcType="VARCHAR"/> 
	<result column="week_day" property="weekDay" jdbcType="INTEGER"/> 
	<result column="start" property="start" jdbcType="INTEGER"/> 
	<result column="end" property="end" jdbcType="INTEGER"/> 
	<result column="classroom" property="classroom" jdbcType="VARCHAR"/> 
</resultMap> 

<sql id="baseClumList"> id, create_at, last_update_at, version, course_id, week_day, start, end, classroom  </sql> 

<insert id="insert"> 
	INSERT INTO T_COURSE_RGT( <include refid="baseClumList"/> ) VALUES( 
		#{id,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{lastUpdateAt,jdbcType=TIMESTAMP}, #{version,jdbcType=INTEGER}, #{courseId,jdbcType=VARCHAR}, #{weekDay,jdbcType=INTEGER}, #{start,jdbcType=INTEGER}, #{end,jdbcType=INTEGER}, #{classroom,jdbcType=VARCHAR} 
	) 
</insert> 

<insert id="insertSelective"> 
	INSERT INTO T_COURSE_RGT
	<trim prefix="(" suffix=")" suffixOverrides="," > 
		<if test="id!= null"> id, </if> 
		<if test="createAt!= null"> create_at, </if> 
		<if test="lastUpdateAt!= null"> last_update_at, </if> 
		<if test="version!= null"> version, </if> 
		<if test="courseId!= null"> course_id, </if> 
		<if test="weekDay!= null"> week_day, </if> 
		<if test="start!= null"> start, </if> 
		<if test="end!= null"> end, </if> 
		<if test="classroom!= null"> classroom, </if> 
	</trim> 
	VALUES 
	<trim prefix="(" suffix=")" suffixOverrides="," > 
		<if test="id!= null"> #{id,jdbcType=VARCHAR}, </if> 
		<if test="createAt!= null"> #{createAt,jdbcType=TIMESTAMP}, </if> 
		<if test="lastUpdateAt!= null"> #{lastUpdateAt,jdbcType=TIMESTAMP}, </if> 
		<if test="version!= null"> #{version,jdbcType=INTEGER}, </if> 
		<if test="courseId!= null"> #{courseId,jdbcType=VARCHAR}, </if> 
		<if test="weekDay!= null"> #{weekDay,jdbcType=INTEGER}, </if> 
		<if test="start!= null"> #{start,jdbcType=INTEGER}, </if> 
		<if test="end!= null"> #{end,jdbcType=INTEGER}, </if> 
		<if test="classroom!= null"> #{classroom,jdbcType=VARCHAR}, </if> 
	</trim> 
</insert> 

<delete id="deleteById">
	DELETE FROM T_COURSE_RGT WHERE id=#{id,jdbcType=VARCHAR}
</delete> 

<update id="update"> 
	UPDATE T_COURSE_RGT set id=#{id,jdbcType=VARCHAR},create_at=#{createAt,jdbcType=TIMESTAMP},last_update_at=#{lastUpdateAt,jdbcType=TIMESTAMP},version=#{version,jdbcType=INTEGER},course_id=#{courseId,jdbcType=VARCHAR},week_day=#{weekDay,jdbcType=INTEGER},start=#{start,jdbcType=INTEGER},end=#{end,jdbcType=INTEGER},classroom=#{classroom,jdbcType=VARCHAR} where id=#{id}
</update> 

<update id="updateSelective"> 
	UPDATE T_COURSE_RGT set
	<trim prefix="" suffix="" suffixOverrides="," > 
		<if test="id!= null"> id=#{id,jdbcType=VARCHAR}, </if>
		<if test="createAt!= null"> create_at=#{createAt,jdbcType=TIMESTAMP}, </if>
		<if test="lastUpdateAt!= null"> last_update_at=#{lastUpdateAt,jdbcType=TIMESTAMP}, </if>
		<if test="version!= null"> version=#{version,jdbcType=INTEGER}, </if>
		<if test="courseId!= null"> course_id=#{courseId,jdbcType=VARCHAR}, </if>
		<if test="weekDay!= null"> week_day=#{weekDay,jdbcType=INTEGER}, </if>
		<if test="start!= null"> start=#{start,jdbcType=INTEGER}, </if>
		<if test="end!= null"> end=#{end,jdbcType=INTEGER}, </if>
		<if test="classroom!= null"> classroom=#{classroom,jdbcType=VARCHAR}, </if>
	</trim>
	where id=#{id}
</update> 

<select id="findAll" resultMap="BaseResultMap">
	select <include refid="baseClumList"/> from T_COURSE_RGT
</select> 

<select id="findById" resultMap="BaseResultMap">
	select <include refid="baseClumList"/> from T_COURSE_RGT where id=#{id}
</select> 

<select id="findBy" resultMap="BaseResultMap">
	select <include refid="baseClumList"/> from T_COURSE_RGT where 1=1
	<trim prefix="" suffix="" suffixOverrides="," > 
		<if test="id!= null"> AND id=#{id,jdbcType=VARCHAR}, </if>
		<if test="createAt!= null"> AND create_at=#{createAt,jdbcType=TIMESTAMP}, </if>
		<if test="lastUpdateAt!= null"> AND last_update_at=#{lastUpdateAt,jdbcType=TIMESTAMP}, </if>
		<if test="version!= null"> AND version=#{version,jdbcType=INTEGER}, </if>
		<if test="courseId!= null"> AND course_id=#{courseId,jdbcType=VARCHAR}, </if>
		<if test="weekDay!= null"> AND week_day=#{weekDay,jdbcType=INTEGER}, </if>
		<if test="start!= null"> AND start=#{start,jdbcType=INTEGER}, </if>
		<if test="end!= null"> AND end=#{end,jdbcType=INTEGER}, </if>
		<if test="classroom!= null"> AND classroom=#{classroom,jdbcType=VARCHAR}, </if>
	</trim>
</select> 

<select id="search" resultMap="BaseResultMap">
		select <include refid="baseClumList"/> from T_COURSE
		where 1=1
	</select>
</mapper>