<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>教务系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">

    <link href="../../plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">

    <!-- App css -->
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="../assets/css/app.min.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div th:replace="layout::topbar"></div>

<div th:replace="layout::left-sidenav"></div>

<div class="page-wrapper">
    <!-- Page Content-->
    <div class="page-content">
        <div class="container-fluid">

            <div class="container-fluid">
                <!-- Page-Title -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-title-box">
                            <div class="float-right">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="javascript:void(0);">主页</a></li>
                                    <li class="breadcrumb-item active">我的课程</li>
                                </ol>
                            </div>
                            <h4 class="page-title">我的课程</h4>
                        </div><!--end page-title-box-->
                    </div><!--end col-->
                </div>
                <!-- end page title end breadcrumb -->
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-gradient-success waves-effect  btn-sm px-4 float-right" th:href="@{/usersCourses/select}">选择课程</a>
                        <form method="get" th:action="@{/course}">
                            <button type="submit" class="btn btn-gradient-secondary waves-effect btn-sm px-4 float-right mr-2">搜索</button>
                            <input type="text" class="float-right mr-1 mt-1" name="search" th:value="${search}">
                        </form>
                    </div>
                </div>

                <div style="height: 10px"></div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table mb-0 table-centered">
                                        <thead>
                                        <tr>
                                            <th>科目</th>
                                            <th>教师</th>
                                            <th>上课时间</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="course,state : ${courses}">
                                            <td th:text="${course.name}"></td>
                                            <td th:text="${course.teacher}"></td>
                                            <td th:text="${'第 ' + course.start + ' 周到第 '+ course.end + ' 周'}"></td>
                                            <td>
                                                <a href="#" th:href="@{'/course/view?id=' + ${course.id}}" class="mr-2"><i class="fas fa-eye text-info font-16"></i></a>
                                                <a href="#" th:href="@{'/usersCourses/remove?courseId=' + ${course.id}}"><i class="fas fa-trash-alt text-danger font-16"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table><!--end /table-->
                                </div><!--end /tableresponsive-->
                            </div><!--end card-body-->
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div><!-- container -->


            <div th:replace="layout::footer"></div>

        </div>
        <!-- end page content -->
    </div>
    <!-- end page-wrapper -->




    <!-- jQuery  -->
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/js/metismenu.min.js"></script>
    <script src="../assets/js/waves.js"></script>
    <script src="../assets/js/feather.min.js"></script>
    <script src="../assets/js/jquery.slimscroll.min.js"></script>
    <script src="../assets/js/jquery-ui.min.js"></script>

    <script src="../../plugins/moment/moment.js"></script>
    <script src="../../plugins/apexcharts/apexcharts.min.js"></script>
    <script src="../../plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="../../plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../../plugins/flot-chart/jquery.canvaswrapper.js"></script>
    <script src="../../plugins/flot-chart/jquery.colorhelpers.js"></script>
    <script src="../../plugins/flot-chart/jquery.flot.js"></script>
    <script src="../../plugins/flot-chart/jquery.flot.saturated.js"></script>
    <script src="../../plugins/flot-chart/jquery.flot.browser.js"></script>
    <script src="../../plugins/flot-chart/jquery.flot.drawSeries.js"></script>
    <script src="../../plugins/flot-chart/jquery.flot.uiConstants.js"></script>
    <script src="../../plugins/flot-chart/jquery.flot-dataType.js"></script>
    <script src="../assets/pages/jquery.crm_dashboard.init.js"></script>

    <!-- App js -->
    <script src="../assets/js/app.js"></script>

</body>

</html>